
body{
    background:  radial-gradient(250.32% 268.32% at 50% -168.32%, #9886FE 0%, #030302 100%);
    max-width: 100vw;
    overflow-x:hidden;
}
*{
    max-width: 100vw;
}
a{
    text-decoration: none;
}
/* *{
    border:1px solid red;
} */
.main-text{
    width:90%;
    margin:auto;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 120px;
    padding-left: 50px;
    /* identical to box height */
    color: #9886FE;
    font-family: 'Zen Tokyo Zoo';
    text-shadow: 0px 2px 15px #9886FE;
}
.next-prev{
    display:grid;
    grid-template-columns: 9fr 0.6fr 1fr;
}
@media screen and (max-width:1000px){
    .main-text{
        padding-left: 0;
    }
    .next-prev{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.packages, .button-container{
    width:90vw;
    margin:auto;
}
.packages h3{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */
    color: #9886FE;
}
.package-text{
    width:90%;
    margin:auto;
}
.package-text h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #D1D1D1;
}
.cards{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width:32%;
    border:1px solid #9886FE;
    border-radius:10px;
    height:auto;
    text-align: center;
    padding-top: 40px;
}
@media screen and (max-width:1000px){
    .cards{
        display:block;
    }
    .card{
        width:80vw;
        margin-bottom:20px
    }
}
.card p{
    color:#fff;
    padding-top:10px;
}
.card button{
    width:70px;
    height:40px;
    border-radius: 15px;
    background:#9886FE;
    color:#fff;
    border:none;
    font-weight: 700;
    margin-bottom: 50px;
}
.more{
    display: grid;
    grid-template-columns: 8fr 0.5fr 0.5fr;
    margin-top:20px;
    justify-content: center;
    align-items: center;
    color: #9886FE;
}
.proccess{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:90%;
    margin:auto;
}
.proccess h2, h3{
    color:#9886FE;
}
.proccess h2{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
}
.proccess h3{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    padding-left: 10%;
}
.proccess p{
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-left: 10%;
}
.rec{
    width:50%;
    height: auto;
    margin:auto;
    margin-top:20%;
    border:1px solid #9886FE;
    box-shadow: 0px 0px 30px #9886FE;
    border-radius:10px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin:auto;
}
.rec img{
    max-width:90%;
}
@media screen and (max-width:1000px){
    .proccess{
        display:block;
    }
    .rec{
        width: 100%;
    }
}
.services{
    display:grid;
    width:80%;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    margin-top:50px;
}
.sub-process{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.sub-process h3{
    align-self: left;
    width: 90%;
}
@media screen and (max-width:1000px){
   .services{
    display: block;
   }
   .services-sub{
    max-width: 95vw;
    overflow-x: hidden;
   }
   .services-sub *{
    max-width: 95%;
   }
}
.services p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}
.services h3{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    color: #9886FE;
}
.spacer{
    width:100%;
    height: 100px;
}
@media screen and (max-width:1000px){
    .spacer{
        display: none;
    }
}
.trust{
    display:grid;
    width:80%;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    margin-top:50px;
}

.circle{
    align-items: center;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border:1px solid #9886FE;
}
@media screen and (max-width:1000px){
    .trust{
        display:block;
    }
    .circle{
        display:none
    }
}
.circle p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin:30px;
    margin-top: 35%;
    color: #D9D9D9;
}
.trust-sub h3{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.trust-sub p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color:#fff;
}
.trust-text{
    width:70%;
    margin:auto;
    margin-top: 190px;
}
.quotes{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 116px;
}
.started{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:70%;
    margin:auto;
    overflow: hidden;
    max-height: 400px;
    margin-top:100px;
    padding-top:40px;
    background: radial-gradient(268.32% 268.32% at 50% -168.32%, #9886FE 0%, #030302 100%);
    border: 1px solid #9886FE;
    backdrop-filter: blur(250px);
    margin-bottom:200px;
}

.started-sub h3{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    color: #9886FE;
    text-shadow: 0px 0px 15px rgba(7, 222, 4, 0.5);
    margin:40px;
}
.started-sub p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #D9D9D9;
}
.morera{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:200px;
    margin-top:20%;
    margin-left:60%;
}
@media screen and (max-width:1000px){
    .started{
        display:block;
        width:95%;
        padding-bottom:30px;
    }
    .started-sub{
        padding:15px;
    }
    .morera{
        width:100%;
        margin:auto;
    }
}